@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.page-header {
  position: relative;
  z-index: 1;

  display: flex;
  padding: 10px;

  color: #000000;

  background-color: #ffffff;
}

.cite-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-decoration: none;
}

.cite-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.intro {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 51px 0 82px 0;

  background-image: url("../img/content/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../img/svg/intro-divider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reason {
  padding-top: 73px;

  color: #000000;

  background-color: #ffffff;
}

.reason-header {
  max-width: 720px;
  margin: 0 auto;

  text-align: center;
}

.reason-card {
  display: flex;
  width: 100%;
}

.reason-title {
  margin: 0 0 23px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.reason-content {
  margin: 0 0 79px 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.reason-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
  padding: 98px 90px 77px 90px;

  color: #ffffff;

  background-color: #83b3d3;
}

.reason-card-title {
  margin: 0 0 23px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.reason-card-counter {
  margin: 0 0 26px 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.favorites-block {
  display: none;
}

.reason-card-text {
  margin: 0 auto;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-list {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 1fr);
}

.reason-list-item-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 184px 75px 79px 75px;
}

.reason-list-item-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 75px 77px 75px;
}

.reason-list--top .reason-list-item-top:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.reason-list--top .reason-list-item-top:nth-child(even) {
  background: #ffffff;
}

.reason-list--bottom .reason-list-item-bottom:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.reason-list--bottom .reason-list-item-bottom:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.reason-list-title-top {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.reason-list-title-bottom {
  margin: 0 0 25px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.reason-list-text-top {
  margin: 0 auto;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-list-text-bottom {
  margin: 0 auto;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-list-counter {
  margin: 0 0 26px 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.selection-hotel {
  max-width: 100%;
  margin: 0 auto;

  text-align: center;

  background: #ffffff;
}

.selection-hotel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 91px 240px 91px 240px;
}

.selection-hotel-title {
  margin: 0 0 15px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.selection-hotel-date {
  margin: 0 0 73px 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.selection-hotel-search {
  width: 575px;
  height: 30px;

  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: #756257;
}

.subscription {
  width: 1200px;
  height: 411px;

  color: #ffffff;

  background-image: url("../img/content/background-subscription.jpg");
}

.subscription-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 94px 200px 94px 200px;
}

.subscription-title {
  margin: 0 0 15px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-text {
  margin: 0 0 26px 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #ffffff;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.main-inner {
  font-size: 18px;
  line-height: 23px;
  color: #333333;

  background: #f2f2f2;
}

.hotel-catalog {
  width: 1200px;
  height: 408px;

  color: #ffffff;

  background-image: url("../img/content/catalog-background.jpg");
}

.hotel-catalog-title {
  list-style: 78px;
  font-weight: 700;
  font-size: 60px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-option {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-link {
  width: 151px;
  height: 37px;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #756257;
}
